force-app/main/default/flows/CreateLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AssignObject</name>
        <label>AssignObject</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailNewLead.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNewLead.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.LEAD_PCK_DegreeOfInterest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degrees_Of_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Narwhal_Company_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.FirstName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FullName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.LastName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FullName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Lead_PCK_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertLead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>aaa</name>
        <choiceText>aaa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>aaa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone </stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>CountryList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_PCK_Country__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DegreesTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LEAD_PCK_DegreeOfInterest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CreateLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertLead</name>
        <label>InsertLead</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Final</targetReference>
        </connector>
        <inputReference>NewLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Narwhal_Company_Id</name>
        <label>Get Narwhal Company Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Narwhal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fill_the_Form</name>
        <label>Fill the Form</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Narwhal_Company_Id</targetReference>
        </connector>
        <fields>
            <name>Introduction</name>
            <fieldText>&lt;p&gt;Please fill the form below to be able to contact you soon as possible: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fill_the_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_the_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Country</name>
                    <choiceReferences>CountryList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Degrees_Of_Interest</name>
                    <choiceReferences>DegreesTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Degrees Of Interest</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>HowDoYouKnewUs</name>
                    <choiceReferences>LeadSource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How do you knew us?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_the_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailNewLead</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Insert your email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PhoneNewLead</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Prefered_Contact_Type</name>
                    <choiceReferences>Email</choiceReferences>
                    <choiceReferences>Phone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Prefered Contact Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Please, select your prefered type of contact&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final</name>
        <label>Final</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Fill_the_Form</targetReference>
        </connector>
        <fields>
            <name>FinalText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We have sent your request.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We will get back to you as soon as possible!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fill_the_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
